*, *:before, *:after {
  box-sizing: border-box;
  user-select: none;
}

body {
  background-color: #20232a;
  color: #ffffff;
}



.pixel {
  width: 20px;
  height: 20px;
  background-color: yellow;
  border: 1px solid #20232a;

}
.grid {
  display: flex;
  flex-wrap: wrap;
}


.color-picker {
  background-color: rgba(0,0,0,0.5);
  display: flex;
  flex-wrap: wrap;
  width: 480px;
}

.swatch {
  width: 50px;
  height: 50px;
  border: 5px solid white;
  border-radius: 50%;
  margin: 5px;
}

.swatch.selected {
  border-color: navy;
  box-shadow: 0 0 10px 10px #ffffff;
}

.size-changer label {
  width: 70px;
  display: inline-block;
  text-align: right;
}